*,
*:before,
*:after{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #6007d5, #b278f5);
    height: 100vh;

}

#tasks {
    max-height: 300px;
    overflow-y: auto;
}


h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.container{
    width: 40%;
    border: 1px solid       #d1d3d4;
    min-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding :30px 40px;
}
#newtask{

    position: relative;
    background-color: #fefcfc;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(9, 9, 9, 0.3);
    padding: 30px 20px;
   
}
#newtask input{
    width:70%;
    height: 45px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    position:relative;
    color: black;
    border:2px solid #d1d3d4;
}

#newtask input:focus{
    outline:none;
    border:2px solid #6007d5;
}
#newtask button{
    position: relative;
    float: right;
    height: 45px;
    width: 20%;
    background-color: #6007d5;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer

}
#tasks{
    margin-top: 60px;
    padding: 30px 20px;
    background-color: #fefcfc;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(9, 9, 9, 0.3);
    position: relative;
}
#newtask button:hover{
    background-color: #4504a0;
}

.task{
    padding: 15px 10px;
    border-bottom: 1px solid #d1d3d4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task span{
    color: black;
    background-color: #ffffff;
    padding: 5px 10px;
    font-family: poppins, sans-serif;
    font-weight: 20px;
}
.task button{
    background-color: #6007d5;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}